#SearchBar{
    --SearchBar-color:#FF9900;
    width: 500px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid var(--SearchBar-color);
    background-color: var(--SearchBar-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
#SearchBar input{
    flex-grow: 1;
    height: 96%;
    background-color: white;
    border: none;
    outline: none;
    font-size: large;
    border-radius: 0 12px 12px 0;
}
#SearchBar button{
    height: 100%;
    color: white;
    padding: 15px;
    background-color: rgba(0,0,0,0);
    border: none;
    font-weight: 550;
    cursor: pointer;
}
#SearchBar,#SearchBar-job{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#SearchBar-job{
    width: 85px;
    height: 100%;
    padding: 0 10px;
    background-color: white;
    border-radius: 12px 0 0 12px;
    cursor: pointer;
}
#SearchBar-job > div:nth-child(2){
    width: 11px;
    height: 6px;
    background-color: grey;
    clip-path: polygon(50% 100%,0 0,100% 0);
}
#SearchBar-job > span,#SearchBar-job > div:nth-child(2){
    transition: all 0.2s;
}
#SearchBar-job[clicked] > span,#SearchBar-job:hover > span{
    color: #FF9900;
}
#SearchBar-job[clicked] > div:nth-child(2),#SearchBar-job:hover > div:nth-child(2){
    background-color: #FF9900;
}
#SearchBar-job[clicked] #SearchBar-options > div{
    display: flex;
}
#SearchBar-options{
    position:relative;
    cursor: default;
}
#SearchBar-options > div{
    position:absolute;
    left: -96px;
    top: 28px;
    z-index: 1;
    width: 490px;
    height: 300px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
#SearchBar-content{
    width: 160px;
    height: 100%;
    overflow-y: scroll;
    background-color: aliceblue;
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding-left: 8px;
}
.SearchBar-option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    transition: all 0.5s;
    cursor: pointer;
}
.SearchBar-option:hover,.SearchBar-option[hovered]{
    background-color: rgba(0, 0, 0, 0.1);
}
.SearchBar-option:hover > div:nth-child(2),.SearchBar-option[hovered] > div:nth-child(2){
    background-color: #FF9900;
}
.SearchBar-option > span{
    transition: color 0.3s;
}
.SearchBar-option:hover > span,.SearchBar-option[hovered] > span{
    color: #FF9900;
}
.SearchBar-option > div:nth-child(2){
    width: 8px;
    height: 8px;
    margin: 0 8px;
    background-color: grey;
    clip-path: polygon(65% 55%,0 0,0 100%);
}
.SearchBar-option > div:nth-child(3){
    cursor: default;
    position: absolute;
    left: 172px;
    top: 0px;
    width: 358px;
    height: 300px;
    display: none;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: 0 0.5em 0.5em 0;
    overflow-y: scroll;
    padding-right: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.SearchBar-option[hovered] > div:nth-child(3){
    z-index: 1;
    display: flex;
}
.SearchBar-expand > div{
    display: flex;
    flex-wrap: wrap;
}
.SearchBar-expand span{
    margin: 0 9px;
    font-size: 14px;
    color: grey;
}
.SearchBar-expand a{
    font-size: 13px;
    margin: 2px 8px;
    transition: color 0.3s;
    cursor: pointer;
}
.SearchBar-expand a:hover{
    color: #FF9900;
}
#SearchBar-content::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0, 0, 0, 0);
}
#SearchBar-content::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 25px;
}
.SearchBar-option > div:nth-child(3)::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0, 0, 0, 0);
}
.SearchBar-option > div:nth-child(3)::-webkit-scrollbar-thumb{
    background-color: rgb(160, 160, 160);
    border-radius: 25px;
}
